.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Outer-Box {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Grid-Outer {
    width: 200px;
    overflow: hidden;
}

.Grid-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.Grid-right {
    float: right;
    margin-right: 10px;
}

.Grid-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.Grid-select {
    margin-top: 2%;
    margin-bottom: 15px;
    display: flex;
}

.Grid-select-left {
    width: 35%;
    font-size: 17px;
    margin-right: 10px;
    display: inline;
}

.Grid-selct-right {
    width: 35%;
    font-size: 17px;
    display: inline;
    float: right;
}

.Params {
    display: inline;
    font-size: 20px;
    margin-right: 10px;
}

.Instructions {
    color: white;
}

.Title {
    margin: 0px;
    margin-top: 15px;
}

.Authors {
    margin: 0px;
}

.Description {
    margin: 10px;
    font-size: 14pt;
}

.solveButton {
    background-color: green;
    color: white;
    font-size: 22px;
    height: 50px;
    width: 100px;
    margin: auto;
}

.gridBox {
    border: white 1px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
